# ----------- User Settings -----------

# your Piler Domain

PILER_DOMAIN="piler.example.com"

# your Mailserver Admin Mail

SUPPORT_MAIL="admin@example.com"

# retention days (default 2555 Days ~ 7 Years)

DEFAULT_RETENTION_DAYS="2555"

# your IMAP Server

IMAP_SERVER="imap.example.com"

# your Timezone

TIME_ZONE="Europe/Berlin"

# Smarthost Default 127.0.0.1

SMARTHOST="127.0.0.1"

# ------------ MySql Settings -------------

# MySql Database

MYSQL_DATABASE="piler"

# MySql User

MYSQL_USER="piler"

# MySql Password

MYSQL_PASSWORD="<your-mysql-password>"

# ------- Let's Encrypt Settings ----------

# Enabled / Disabled (yes/no) Let's Encrypt 
# For local Run disabled

USE_LETSENCRYPT="yes"

# Let's Encrypt registration contact information

LETSENCRYPT_EMAIL="admin@example.com"

# ------ optional Mailcow Settings --------

# if Use Mailcow API Options set "true"

USE_MAILCOW=false

# your Mailcow API-Key

MAILCOW_APIKEY="your_Mailcow_API-Key"

# your Mailcow Host Domain

MAILCOW_HOST="mail.example.com"

# ------ Container Versions --------

# Piler Version

PILER_VERSION="1.4.3"

# MariaDB Version

MARIA_DB_VERSION="10.6"
